IRODS_API_SECRET_KEY={{irods_api_secret_key}}

IRODS_API_OIDC_RP_CLIENT_ID={{irods_api_oidc_rp_client_id}}
IRODS_API_OIDC_RP_CLIENT_SECRET={{irods_api_oidc_rp_client_secret}}

IRODS_API_KEYCLOAK_REALM={{irods_api_keycloak_realm}}

IRODS_API_LOGIN_REDIRECT_URL={{irods_api_login_redirect_url}}
IRODS_API_LOGIN_URL={{irods_api_login_url}}
IRODS_API_LOGOUT_REDIRECT_URL={{irods_api_logout_redirect_url}}

IRODS_API_DB_NAME={{irods_api_db_name}}
IRODS_API_DB_USER={{irods_api_db_user}}
IRODS_API_DB_PASSWD={{irods_api_db_passwd}}
IRODS_API_DB_HOST={{irods_api_db_host}}
IRODS_API_DB_PORT=5432

IRODS_API_IRODS_HOST={{irods_api_irods_host}}
IRODS_API_IRODS_PORT=1247
IRODS_API_IRODS_ZONE={{irods_api_irods_zone}}
IRODS_API_IRODS_USER={{irods_api_irods_user}}
IRODS_API_IRODS_PWD={{irods_api_irods_pwd}}

IRODS_API_ALLOWED_HOSTS={{irods_api_allowed_hosts}}

IRODS_API_IRODS_FEDERATED={{irods_api_irods_federated}}

IRODS_API_IRODS_OPENID_MICROSERVICE={{irods_api_irods_openid_microservice}}


IRODS_API_STAGING_PATH={{ irods_api_staging_path }}
IRODS_API_INTERNAL_STAGING_PATH={{ irods_api_internal_staging_path }}
IRODS_API_STAGING_SOURCE_SYSTEM={{ irods_api_staging_source_system }}
IRODS_API_STAGING_TARGET_SYSTEM={{ irods_api_staging_target_system }}
IRODS_API_STAGING_TARGET_PATH_BASE={{ irods_api_staging_target_path_base }}
IRODS_API_STAGING_SERVICE={{ irods_api_staging_service }}
IRODS_API_STAGING_SSL_VERIFICATION={{ irods_api_staging_ssl_verification }}
IRODS_API_STAGING_ZONES='{"LRZLexisZone": "lrz_iRODS", "IT4ILexisZone": "it4i_iRODS"}'
IRODS_API_ENCRYPTION_SERVICE={{ irods_api_encryption_service }}

IRODS_API_TUS_DESTINATION_DIR={{ irods_api_tus_destination_dir }}
IRODS_API_TUS_UPLOAD_DIR={{ irods_api_tus_upload_dir }}
IRODS_API_TUS_FILE_NAME_FORMAT={{ irods_api_tus_file_name_format }}

IRODS_API_KEYCLOAK_SERVICE_CLIENT={{ irods_api_keycloak_service_client }}
IRODS_API_KEYCLOAK_SERVICE_SECRET={{ irods_api_keycloak_service_secret }}
IRODS_API_KEYCLOAK_ADMIN_URL={{ irods_api_keycloak_admin_url }}
IRODS_API_KEYCLOAK_ADMIN_REALM={{ irods_api_keycloak_admin_realm }}
